$image-size: 50vmin;
$name-title-size: 6vmin;
$name-subtitle-size: 5vmin;
$tagline-link-size: 4.5vmin;
$link-icon-size: 6vmin;
$link-icon-size-2: 7vmin;
$link-icon-size-3: 10vmin;
$item-spacing: 2vh;

$link-color: #2872c5;
$mobile-threshold: 480px;

@mixin mobile-compatiable-font-size($base-size) {
	$mobile-adjustment-factor: 3vmin;
	font-size: $base-size;
	@media (max-width: $mobile-threshold) {
		font-size: $base-size + $mobile-adjustment-factor;
	}

}

html {
	padding: 8px;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

h1, h2 {
	font-weight: 600;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#flex-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	min-width: 10vh;
	max-width: 150vh;
	margin: 0 auto;

	>div {
		margin-top: $item-spacing;
	}

	//Exception for narrow/tall windows. We don't them to have huge spaings
	@media (min-height: 750px) and (max-width: 768px){
		justify-content: center;
	}

	//Exceptions for tiny but tall screens
	@media (min-height: 750px) and (max-width: 300px){
		>div {
			margin-top: 1vh;
		}
	}
}

@media (min-width: 768px) {
	#flex-container > :first-child {
		margin-top: auto;
	}

	#flex-container > :last-child {
		margin-bottom: auto;
	}
}

#circle {
	width: $image-size;
	max-width: 450px;
}

#info-wide-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto;
	@include mobile-compatiable-font-size($tagline-link-size);
}

#name-container {
	margin: 0 auto;
	text-align: center;

	h1 {
		@include mobile-compatiable-font-size($name-title-size);
	}

	h2 {
		@include mobile-compatiable-font-size($name-subtitle-size);
	}
}

#taglines {
	font-weight: 500;
	white-space: nowrap;

	//Exception for tiny screens
	@media (max-width: 245px) {
		font-size: 8vw;
	}


	#wpi {
		color: #ac2b37;
	}

	#programmer {
		color: #0047ab;
	}

	#heart {
		color: #d13131;
	}
}

#link-container {
	display: none;
	margin-left: auto;

	@media (min-width: $mobile-threshold) {
		display: inline-block;
	}
}

#links {
	text-align: right;

	a {
		color: $link-color;
		text-decoration: none;

		i {
			color: #000;
		}

		span.link-text {
			text-decoration: underline;
		}
	}

	a:hover > i {
		color: $link-color;
	}
}

#link-icon-container {
	@media (min-width: $mobile-threshold) {
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}

#link-icons {
	display: inline-block;
	font-size: $link-icon-size;
	@media (max-width: 768px) {
		font-size: $link-icon-size-2;
	}
	@media (max-width: $mobile-threshold) {
		font-size: $link-icon-size-3;
	}

	li.social-icon {
		text-align: left;
		display: inline;

		@media (max-width: 116px) {
			display: block;
		}

		a {
			color: #000;
			text-decoration: none;
		}

		a:hover {
			color: $link-color;
		}
	}
}
