$circle-width-big: 300px;
$info-width-big: 450px;
$links-width-big: 400px;
$outer-padding-big: 80px;
$padding-big: 50px;
$big-width-total: $circle-width-big + $info-width-big + $links-width-big + $padding-big;

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 $outer-padding-big;
	font-family: "Montserrat";
	white-space: nowrap;
	div {
		padding: 0 $padding-big;
	}
}

#circle {
	width: $circle-width-big;
}

#personal-info {
	width: $info-width-big;
	#realname {
		font-size: 55px;
		margin: 0;
	}
	#name {
		font-size: 40px;
		align-text: center;
		margin-top: 0;
	}
	h3.tagline {
		font-size: 25px;
		margin: 0;
	}
	#wpi {
		color: #AC2B37;
	}
	#programmer {
		color: #0047AB;
	}
	#heart {
		color: #D13131;
	}
}

#links {
	color: #000;
	font-size: 32px;
	list-style: none;
	text-align: right;
	padding: 0;
	width: $links-width-big;
	a.social-link {
		color: #2872c5;
	}
}

