$circle-width-small: 250px;
$info-width-small: 350px;
$links-width-small: 300px;
$outer-padding-small: 50px;
$padding-small: 50px;
$small-width-total: $circle-width-small + $info-width-small + $links-width-small + $padding-small * 2 + $outer-padding-small * 2;

$circle-width-big: 300px;
$info-width-big: 450px;
$links-width-big: 400px;
$outer-padding-big: 80px;
$padding-big: 50px;
$big-width-total: $circle-width-big + $info-width-big + $links-width-big + $padding-big * 2 + $outer-padding-big * 2;

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: none;
}

#flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 $outer-padding-small;
	font-family: "Montserrat";
	overflow: none;
	white-space: nowrap;
	min-width: $small-width-total - $circle-width-big;
	@media (max-width: $small-width-total) {
		flex-flow: column;
	}

	div {
		padding: 0 $padding-small;
	}

	@media (min-width: $big-width-total) {
		padding: 0 $outer-padding-big;
		div {
			padding: 0 $padding-big;
		}
	}
}

#circle {
	width: $circle-width-small;

	@media (min-width: $big-width-total), (max-width: $small-width-total) {
		width: $circle-width-big;
	}
}

#info-container {
	display: flex;
	justify-content: space-between;
	@media (max-width: $small-width-total) {
		position: relative;
		margin-top: 50px;
		width: 100%;
		align-items: center;
	}
}

#personal-info {
	width: $info-width-small;
	#realname {
		font-size: 40px;
		margin: 0;
	}

	#name {
		align-text: center;
		font-size: 30px;
		margin-top: 0;
	}

	h3.tagline {
		font-size: 24px;
		margin: 0;
	}

	#wpi {
		color: #AC2B37;
	}

	#programmer {
		color: #0047AB;
	}

	#heart {
		color: #D13131;
	}

	@media (min-width: $big-width-total) {
		width: $info-width-big;
		#realname {
			font-size: 55px;
		}

		#name {
			font-size: 40px
		}

		h3.tagline {
			font-size: 32px;
		}
	}
}

#links {
	color: #000;
	font-size: 24px;
	list-style: none;
	margin: 0;
	margin-top: auto;
	text-align: right;
	width: $links-width-small;

	a.social-link {
		color: #2872c5;
	}

	@media (max-width: $small-width-total) {
		padding: 0 $padding-small;
	}

	@media (min-width: $big-width-total) {
		width: $links-width-big;
		font-size: 32px;
	}
}

