<html>
<head>
    <title>ollien</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css'>
    <link href='/static/css/css.css' rel='stylesheet' type='text/css'>
    <script src="/static/js/index.js" type="text/javascript"></script>
</head>
<header>
    <img id="me" src="/static/img/circle-me.png"/>
    <ul id="headerList">
    <li><a class="header-item" id="ollien" href="/">ollien</a></li>
    <li><a class="header-item" href="http://blog.ollien.com">blog</a></li>
    <li><a class="header-item" href="http://twitter.com/theollien">twitter</a></li>
    <li><a class="header-item" href="http://github.com/ollien/">github</a></li>
    <li><a class="header-item" href="mailto:njk828@gmaill.com">email</a></li>
    <meta name="viewport" content="width=device-width, initial-scale=.5, user-scalable=yes">
    <meta name="MobileOptimized" content="700" />
    <meta name="HandheldFriendly" content="false">
</ul>
</header>
<body>
    <div id="slogan">Student, Programmer, Geek.</div>
    <div id="bio">
      Hello there! My name is Nick and I'm a 16 year old programmer with a large interest in programming, general technology, and sandwiches. I've worked on quite a few projects using languages such as Python, C(++), Javascript, and Java. In addition, I've worked with lots of libraries including Django, Cherrypy, the Android SDK, the Pebble SDK, and others. A few of my projects are displayed below, and more are on <a id="githubBio" href="http://github.com/ollien/">my github</a>. Feel free to shoot me an email at <a id="emailBio" href="mailto:njk828@gmail.com">njk828@gmail.com</a>.
      </div>
    <div id="projects">Projects</div>
    <div id="dots">
        <script>
            showDots();
        </script>
        {% for project in projects %}
            {% if forloop.counter0 == 0 %}
                <span class="circle selected" num={{forloop.counter0}}></span>
            {% else %}
                <span class="circle" num={{forloop.counter0}}></span>
            {% endif %}
        {% endfor %}
    </div>
    {% for project in projects %}
        <a class="displayLink" href={{project.url}}>
            <div class="display fade {% if forloop.counter0 != 0 %}hiddenDisplay faded {%endif%}" num={{forloop.counter0}}>
                <div class="title">{{project.title}}</div>
                <div class="desc">{{project.desc}}</div>
                <div class="imageSpan">
                    <img class="displayImage" src="{{project.path}}"/>
                </div>
            </div>
        </a>
            	<noscript>
                	{% if forloop.counter0 != 0 %}
                	<a class="displayLink" href={{project.url}}>
                    	<div class="display" num={{forloop.counter0}}>
                    	    <div class="title">{{project.title}}</div>
                    	    <div class="desc">{{project.desc}}</div>
                        <div class="imageSpan">
                           <img class="displayImage" src="{{project.path}}"/>
                        </div>
                    </div>
                </a>
                {% endif %}
            </noscript>                	
        </div>
    	{% endfor %}

    <script>
        ready();
    </script>
</body>
<footer>
    <span id="copyright">&#169; {{year}} Nick Krichevsky</span> <span id="source"><a href="http://github.com/ollien/ollien.com">Source code of this site</a></span>
</html>
